body{
    margin: 0px;
}

li {
    position: relative;
    width: 400px;
    height: 225px;
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

.a {
    position: absolute;
    left: 180px;
    top: 27px;
    color: rgb(129, 3, 3);
    margin: 0; 
    text-align: center;
    font: bold 20px Georgia, Helvetica, Arial, sans-serif;
   
}

.b {
    position: absolute;
    left: 200px;
    top: 100px;
    color: rgb(33, 24, 190);
    margin: 0; 
    text-align: center;
    font: bold 17px Georgia, Helvetica, Arial, sans-serif; 
}

.c {
    position: absolute;
    left: 205px;
    top: 130px;
    color: rgb(18, 18, 18);
    
}

.d {
    position: absolute;
    left: 230px;
    top: 110px;
    color: rgb(18, 18, 18);
    font: bold 17px Georgia, Helvetica, Arial, sans-serif;
}

.f {
    position: absolute;
    width: 70px;
    height: 60px;
    left: 120px;
    top: 150px;
    opacity: 0.5;
    
}

.g {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 330px;
    top: 160px;
}